<!-- Se separa segmento de usertasks para manejo de información de usario
ya el enunciado señala que es un componente reutilizable
-->
<div th:fragment="user_info">
<div class="user-card">

    <!-- Inicial usuario -->
    <!-- Si user.name existe, toma primera letra -->
    <div class="user-avatar"
         th:text="${user.name != null} ? ${user.name.substring(0,1)} : 'U'">
        U
    </div>

    <!-- Datos usuario -->
    <div class="user-info">

        <!-- Nombre + username -->
        <div>
            <strong th:text="${user.name}">
                Nombre Usuario
            </strong>

            <span style="color:#666">
                        (
                        <span th:text="${user.userName}">
                            username
                        </span>
                        )
                    </span>
        </div>

        <!-- Email -->
        <div>
            Email:
            <span th:text="${user.email}">
                        email@example.com
                    </span>
        </div>

        <!-- Tipo usuario -->
        <div>
            Tipo:
            <span th:text="${user.type}">
                        REGULAR
                    </span>
        </div>

    </div>
</div>
</div>

